﻿@model TodoList.Web.ViewModels.TodoListViewModel

@{
    ViewBag.Title = "Todo List";
}

<h2>Todo List</h2>

<p>
</p>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">@Html.DisplayFor(model => model.User.Name)</div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Add New", "Add", new { id = Model.User.UserID })
</p>

@if (Model.User.TodoList.Count > 0)
{
    var meta = Model.User.TodoList.First();
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => meta.Text)
            </th>
            <th>
                @Html.ActionLink("DueDate", "Index", new { sortOrder = Model.SortedBy, sortDirection = Model.SortDirection })
            </th>
            <th>
                @Html.ActionLink("Priority", "Index", new { sortOrder = Model.SortedBy, sortDirection = Model.SortDirection })
            </th>
            <th>
                @Html.DisplayNameFor(model => meta.Completed)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.User.TodoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TodoEntryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TodoEntryID })
                    @if (item.Completed == "No")
                    { 
                        @Html.ActionLink(" | Mark Completed", "MarkCompleted", new { id = item.TodoEntryID })
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    @:No Todo entries found.
}